modules = ["python-3.12", "web"]
run = ["python3", "-m", "app"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "-w", "4", "-b", "0.0.0.0:8080", "app:create_app()"]

[[ports]]
localPort = 8080
externalPort = 80
